$themeDark: #3e3e3e;
$bg: #fdfdfd;
$scroll: #6e6666;

// import fonts @googleFonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: $themeDark;
  font-family: 'Fira Sans', sans-serif;
}
